/* Estilização Header */

.header {
    display: flex;
    align-items: center;
    padding: 8px 32px 8px 16px;
}

.menu-login__list {
    display: flex;
    align-items: center;
}

/* Estilização Hamburguer */
.hamburger {
    margin-right: 16px;
}

.hamburger__action {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 6px 4px;
}

.hamburger__item {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin: 4px 0;
}

 
.hamburger__item::before,
.hamburger__item::after {
    content:"";
    position: absolute;
    display: block;
    left: 4px;
    width: calc(100% - 8px);
    height: 1px;
    background-color: #000000;
}

.hamburger__item::before {
    top: 6px;
}

.hamburger__item::after {
    bottom: 6px;
}

/* Estilização Logo*/

.logo__link {
    display: block;
    line-height: 0;
}

/* Estilização Search */

.search {
    max-width: 574px;
    width: 100%;
    margin: 0 auto;
}

.search__form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input {
    width: calc(100% - 94px);
    height: 32px;
    background: #fff;
    border: 1px solid #cccccc;
    border-right: 0;
    border-radius: 1px 0px 0px 1px;
    padding-left: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
}

.search__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 54px;
    width: 100%;
    height: 32px;
    background: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 0px 1px 1px 0px;
    margin-right: 8px;
}

.search__mic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #f9f9f9;
    border-radius: 20px;
}

/* Estilização Menu user actions */

.menu__login {
    margin-right: 24px;
}

.menu-login__list1 {
    display: flex;
    align-items: center;
}

.menu-login__item:not(:last-child) {
    margin-right: 20px;
}

.menu-login__link {
    display: block;
    line-height: 0px;
}

/* Estilização Sidebar */

.sidebar {
    max-width: 196px;
    width: 100%;
    height: calc(100vh - 48px); /*essa conta considera a altura total da viewport de exibição descontando a altura do header, para a barra lateral estar posicionada abaixo do header e sem gerar scrolagem no conteudo da página*/
    overflow-y: scroll;
    padding-top: 12px
}

.sidebar::--webkit-srollbar {
    width: 6px;
}

.sidebar::--webkit-srollbar-thumb {
    background: #909090;
    border-radius: 20px;
}

/* Estilização Menu Group */

.menu-group__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #636363;
    padding-left: 12px;
    margin: 0 0 8px;
}

.menu-group:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.menu-group__link {
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

.menu-group__link--active {
    background: #D9D9D9;
}

.menu-group__icon {
    margin-right: 16px
}

.menu-group__text {
    display: block;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.menu-group__lin--active {
    font-weight: 500;
}

.menu-group__alert {
    display: block;
    width: 4px;
    height: 4px;
    background: #065FD4;
    border-radius: 100%;
    margin-left: auto;
}

/* ------------ Content -------------------*/

.main-content {
    width: calc(100% - 196px);
}

.main {
    display: flex;
}

/* Estilização Categories */

.categories {
    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    padding: 12px  20px  12px 20px;
}

.categories__list {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.categories__item {
    
}

.categories__button {
    background: #F2F2F2;
    border: 0.5px solid #D9D9D9;
    border-radius: 16px;
    display: flex;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    transition: .3s all ease-in-out;
    color: #000;
}

.categories__button--active,
.categories__button:hover {
    background: #000000;
    color: #FFFFFF;
}

.categories__button:hover {
    background: #555;
}